body {
    min-width: 300px;
}
@font-face {
    font-family: "PNova";
    src: url(../fonts/ProximaNova-Semibold.ttf);
}
.hot {
    background-image: url(../images/hot-1.png);
    width: 17.18%;
    padding-bottom: 17.8%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.hot-6,.hot-12 {
    width: 14.1%;
}
.first-row,.second-row {
    flex-wrap: nowrap;
    background-color: #000000;
    display: flex;
}
.hot-2 {
    background-image: url(../images/hot-2.png);
}
.hot-3 {
    background-image: url(../images/hot-3.png);
}
.hot-4 {
    background-image: url(../images/hot-4.png);
}
.hot-5 {
    background-image: url(../images/hot-5.png);
}
.hot-6 {
    background-image: url(../images/hot-6.png);
    position: relative;
}
.fa-instagram {
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    top: 3%;
    left: 50%;
}
span {
    color: #ffffff;
    font-family: "PNova";
    font-weight: 400;
    font-size: 15px;
    line-height: 24.38px;
    letter-spacing: 0.38px;
    position: absolute;
    top: 3%;
    left: 60%;
}
.hot-7 {
    background-image: url(../images/hot-8.png);
}
.hot-8 {
    background-image: url(../images/hot-12.png);
}
.hot-9 {
    background-image: url(../images/hot-9.png);
}
.hot-10 {
    background-image: url(../images/hot-10.png);
}
.hot-11 {
    background-image: url(../images/hot-11.png);
}
.hot-12 {
    background-image: url(../images/hot-12.png);
}
.third-row {
    padding-top: 45px;
    padding-bottom: 39px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
}
.nav-ul {
    display: flex;
    
}
.nav-ul a {
    text-decoration: none;
    margin-right: 78px;
}
.nav-li {
    color: #2e2e2e;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.nav-ul a:last-child {
    margin-right: 0;
}
.central-block {
    background-color: #fbfafa;
    padding-top: 115px;
    padding-bottom: 173px;
}
.central-block_container {
    margin: 0 auto;
    max-width: 840px;
}
.text-info {
    margin-top: 36px;
    text-align: center;
    color: #555559;
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: 300;
    letter-spacing: -2.24px;
}
.img {
    width: 92px;
    height: 92px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/hotdog.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }  
.button-div {
    width: 310px;
    height: 65px;
    background-color: #286782;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    border-radius: 10px;
  } 
.button {
    width: 310px;
    height: 65px;
    background-color: #286782;
    border-width: 1px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.8px;
}
.square-block {
    padding-left: 15px;
    padding-right: 50%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.square-block::before {
    content: "";
    background-image: url(../images/hotdog1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 49%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
}
.square-block_second::before {
    background-image: url(../images/hotdog2.png);
}
.square-block_third::before {
    background-image: url(../images/hotdog3.png);
}
.square-block_container {
    max-width: 719px;
    box-sizing: border-box;
    padding: 219px 147px 233px 138px;
    position: relative;
}   
.square-block_line {
    width: 32px;
    height: 3px;
    background-color: #286782;
    position: absolute;
    top: 230px;
    left: 85px;
}
.square-block_title {
    color: #555559;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.96px;
}
.square-block_descr {
    margin-top: 32px;
    color: #555559;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 23.97px;
    letter-spacing: -0.72px;
}
.square-block--right::before {
    left: 1%;
    right: auto;
}
.square-block--right {
    padding-left: 50%;
    padding-right: 0;
    display: flex;
    justify-content: flex-start;
}
.footer {
    padding-top: 30px;
    padding-bottom: 31px; 
    border: 2px solid #e9e9e9;
    background-color: #efefef;
    
    
}
.footer_container {
    display: flex;
    justify-content: space-between;
    color: #555559;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
@media screen and (max-width: 1023px) {
    .nav-ul a {
       margin-right: 0;
    }
    .nav-ul {
        flex-direction: column;
        align-items: center;
    }
    span {
        left: 50%;
    }
    .fa-instagram {
        left: 40%;
    }
    .text-info {
        font-size: 40px;
    }
    .central-block_container {
        max-width: 600px;
    }
    .square-block::before {
        position: static;
        width: 100%;
        padding-bottom: 85%;
    }
    .square-block_first,.square-block_third {
        padding-right: 15px;
        display: block;
    }
    .square-block_second {
        padding-left: 15px;
        display: block; 
        padding-right: 15px;
    }
    .square-block_container {
        max-width: none;
        padding: 50px 20px 50px 20px;
    }
    .square-block_line {
        display: none;
    }
    
   
}
 
@media screen and (max-width: 767px) {
    .button-div {
        width: 220px;
    }
    .button {
        width: 220px;
        font-size: 15px;
    }
    span {
        left: 0;
        top: 12%;
        font-size: 8px;
    }
    .fa-instagram {
        left: 0;
        top: 2%;
        font-size: 12px;
    }
    .central-block_container {
        max-width: 350px;
    }
    .footer_container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text-info {
        font-size: 30px;
    }    
}
